__pycache__/
py_files/__pycache__/
*.pyc
saved_rhyme*
pp_maker.py
heros_journey_words.p
*.DS_Store
.idea/
theme_words.p
extra_adjs.p
word_corpus/
*.yaml
saved_objects/glove/
local_*
py_files/.ipynb_checkpoints/
saved_objects/fasttext/wiki-news-300d-1M.vec
saved_objects/fasttext/
test.py